
@font-face {
  font-family: iransans-bold;
  font-weight: 700;
  font-display: block;
  src: url(./assets/fonts/IRANSans-Bold-web.eot);
  src: url(./assets/fonts/IRANSans-Bold-web.eot?#iefix) format("eot"),
   url(./assets/fonts/IRANSans-Bold-web.woff2) format("woff2"),
    url(./assets/fonts/IRANSans-Bold-web.woff) format("woff"),
     url(./assets/fonts/IRANSans-Bold-web.ttf) format("ttf");
}

@font-face {
  font-family: iransans-light;
  font-display: block;
  src: url(./assets/fonts/IRANSans-Light-web.eot),
   url(./assets/fonts/IRANSans-Light-web.woff2) format("woff2"),
    url(./assets/fonts/IRANSans-Light-web.woff) format("woff"),
     url(./assets/fonts/IRANSans-Light-web.ttf) format("ttf");
}
:root{
  --primary: #1c1d25;
  --secondary: #15151a;
  --third: #b0b2c3;
  --forth: #b0b2c350;
  --fifth: #000;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #1c1d25;
  color: #b0b2c3;
  font-family: iransans-light;
}
#root{
  height: 100vh;
  overflow: hidden;
}
.container{
  width: 500px;
  margin: 2rem auto;
}

@media only screen and (max-width: 500px){
  .container{
      width: 100vw;
      margin: 2rem auto;
  }
}